body {
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz-div, .question-form, .money-display {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question-form {
    background-color: rgba(0, 0, 0, .5);
}

.question-display {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.submit-answer-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 8px 8px 12px;
    border: 1px solid #aaf54f;
    border-radius: 41px;
    background: #e4ff1a;
    background: -webkit-gradient(linear, left top, left bottom, from(#e4ff1a), to(#45e9c0));
    background: -moz-linear-gradient(top, #e4ff1a, #45e9c0);
    background: linear-gradient(to bottom, #e4ff1a, #45e9c0);
    -webkit-box-shadow: #ffff1f 0px 0px 19px 0px;
    -moz-box-shadow: #ffff1f 0px 0px 19px 0px;
    box-shadow: #ffff1f 0px 0px 19px 0px;
    font: normal normal bold 15px arial;
    color: #111111;
    text-decoration: none;
}

.submit-answer-button:hover,
.submit-answer-button:focus {
    background: #ffff1f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff1f), to(#53ffe6));
    background: -moz-linear-gradient(top, #ffff1f, #53ffe6);
    background: linear-gradient(to bottom, #ffff1f, #53ffe6);
    color: #111111;
    text-decoration: none;
}

.submit-answer-button:active {
    background: #899910;
    background: -webkit-gradient(linear, left top, left bottom, from(#899910), to(#45e9c0));
    background: -moz-linear-gradient(top, #899910, #45e9c0);
    background: linear-gradient(to bottom, #899910, #45e9c0);
}
.submit-answer-button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABdklEQVRIib3VPUscYRAH8N8t1kFEgkUIBEQtggQJQaxDmjTBQq8RP4Mf4QgiV8cvIClThqS3kbwgpNDGF7DwA8TSwjPFPYtze8+qxFsHhp1n9j8zz7Az/22h0KCUyXs173ujsKsdFKO0W/ikQWnhuskCYxnfGn79Z743+Bwd1Q7+4kV6RimwhPfp/A17+h+ycPNBJ3CK8Rh8nfQSKymgqt2AK7Vbg22nXCXOBTp4GW4bb76cgIdYwNsQ/CGDl3J1Um7H6qXAPn5iMvlmQoHfNQVK+7QIh5w+x6tkz2GqcoEFPAt4FXtgk0uN5+mEeY1dPMl0OF0TO9SSAMjJfThriCriHuQSHLkZxbqEJ7cVjwXK6nGuz/EH3/UX6Cz5Z7GOdwmTiy3KAk/1R+oLDgy3+REbKsuDeWxm8PTHdFWavLhobfWLdhWwV9iqwQ4s2l1UUbZcpYqv+OEeVJFj04eQ3SJ2ouNR6Hq7yQI0/NO/a9FGIo3+9P8BO0VqO98WFnkAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

.favorite-button {
    margin-top: 5px;
    margin-bottom: 10px;
}

.favorite-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 8px 8px 12px;
    border: 1px solid #f5df4f;
    border-radius: 41px;
    background: var(--color-5);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-4)), to(var(--color-6)));
    background: -moz-linear-gradient(top, var(--color-4), var(--color-6));
    background: linear-gradient(to bottom, var(--color-4), var(--color-6));
    -webkit-box-shadow: var(--color-5) 0px 0px 10px 0px;
    -moz-box-shadow: var(--color-5) 0px 0px 10px 0px;
    box-shadow: var(--color-5) 0px 0px 10px 0px;
    font: normal normal bold 12px arial;
    color: #000000;
    text-decoration: none;
}

.favorite-button:hover,
.favorite-button:focus {
    background: #fffffb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffffb), to(#fffe8a));
    background: -moz-linear-gradient(top, #fffffb, #fffe8a);
    background: linear-gradient(to bottom, #fffffb, #fffe8a);
    color: #000000;
    text-decoration: none;
}

.favorite-button:active {
    background: #96997d;
    background: -webkit-gradient(linear, left top, left bottom, from(#96997d), to(#fad473));
    background: -moz-linear-gradient(top, #96997d, #fad473);
    background: linear-gradient(to bottom, #96997d, #fad473);
}

.favorite-button:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAB+ElEQVRIibWVvUsDQRDFf1mCSCoLi6AiCKIWVkmT0tLKysLCSqyD2GglWEjwD7C2Cin8K8TeyviBiCiKBAQRET+Ts9i3eLe3l8TChcdOZt/Mvp2b3eQAwz8Ol7yTsR73F4F9oZjBCdr+CUzANkADiISGt9YttusGbkwBX8Cl8AVMBnjBYfrAnpQvCJF8/cSmjuX/HgZegSYwIDTlGw7wU3avLtqW4pWYb0W+7V4b5DzngFSNAePCBvAOTGsGGAQuNO8Ct8Id8Ah8xhUaYA378V6ANr/d4rAaULca4LWV41I5TQ7b0/cKOgZOpORaqs41+6I6OuGM5gmdfBYoaX0UYAh4koIl+uuMblhSriflxgBzwDPwASx7Sv9iLyvHs3ImCCWgha1j1QvsNYxi2spR8hfdPIOtfQRs0X9ZthRzrRyZFw3sBztTQCUgxLcr4jYVm+CEynAL1GUPxvxZr2ZBc4Nkt3UA8hmqysA3cJohIj5OxC1ncUOv6Q1wRbosecH3XykmVcbQjkVgBHvpXCkKwDq2Q1qyXWk64o6Q8UcU7yIDzGM/2qbULmKvfgQ8CJF8i+JsyjdPusNSp3DkA+BI9huwg72ZQ7LftHYorhPlC09tUCX5eNVJtp8b41qLP47VAC9VogJQU3AlcGQfFXFriu1Zor++P13tH9UxiapZMjwSAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

.question-sign {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: 'Fugaz One', cursive; 
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}
  
.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}
  
@keyframes shine {
    0% {
      font-family: 'Fugaz One', cursive;
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      font-family: 'Fugaz One', cursive;
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}
  
@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}

.money-display, .question-form, .quiz-div {
    border: solid 1px white;
    border-radius: 15px;
    padding: 10px 5px 10px 5px;
    margin: 20px; 
}

.quiz-div {
    width: 80%;
}

.rounded-border {
    border-radius: 15px;
}