.about-us-page {
    background-color: var(--color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title {
    margin-top: 50px;
    border-radius: 15px;
}

.about-area {
    width: 300px;
    margin: 25px;
    border-radius: 15px;
}

.about-area2 {
    text-align: center;
    margin: 25px;
    width: 250px;
    background-color: var(--color-1);
    border-radius: 15px;
    border: 1px solid black;
}