.about-us-info {
    background-color: var(--color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-page {
    background-color: var(--color-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
}

.about-us-title {
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.about-area {
    width: 300px;
    margin: 25px;
    border-radius: 15px;
}

.about-area2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    text-align: center;
    margin: 25px;
    width: 250px;
    height: 375px;
    background-color: var(--color-1);
    border-radius: 15px;
    border: 1px solid black;
}

.about-links {
    display: flex;
    justify-content: space-evenly;
}

.li-icon {
    background-image: url('../backgrounds/linkedin.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.tw-icon {
    background-image: url('../backgrounds/twitter.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

@media only screen and (min-width: 750px) {
    .about-us-page {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}


.logo-holder {
    background-image: url('../backgrounds/truly_trivial_1.png');
    width: 363px;
    height: 266px;
    animation: logo 2s infinite;
}

@keyframes logo {
    0% { background-image: url('../backgrounds/truly_trivial_1.png'); }
    25% { background-image: url('../backgrounds/truly_trivial_2.png'); }
    50% { background-image: url('../backgrounds/truly_trivial_3.png'); }
    75% { background-image: url('../backgrounds/truly_trivial_4.png'); }
    100% { background-image: url('../backgrounds/truly_trivial_5.png'); }
}