/* title font */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
/* font-family: 'Fugaz One', cursive; */

/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
/* font-family: 'Darker Grotesque', sans-serif; */

:root {
    --color-0: rgba(0, 0, 0, 1);
    --color-1: rgba(69, 233, 193, 1);
    --color-2: rgba(110, 235, 131, 1);
    --color-3: rgba(169, 245, 79, 1);
    --color-4: rgba(228, 255, 26, 1);
    --color-5: rgba(242, 220, 13, 1);
    --color-6: rgba(255, 184, 0, 1);
    --color-7: rgba(255, 136, 10, 1);
    --color-8: rgba(255, 87, 20, 1);
    --color-money: rgba(133, 187, 101, 1);
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_glowing_text */
.glow-yellow {
    font-family: 'Fugaz One', cursive;
    color: var(--color-4);
    animation: glow-y 1s ease-in-out infinite alternate;
  }
  
    @keyframes glow-y {
    from {
        text-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-5), 0 0 30px var(--color-6), 0 0 40px var(--color-6), 0 0 50px var(--color-6), 0 0 60px var(--color-6), 0 0 70px var(--color-6);
    }

    to {
        text-shadow: 0 0 20px var(--color-5), 0 0 30px var(--color-5), 0 0 40px var(--color-5), 0 0 50px var(--color-5), 0 0 60px var(--color-5), 0 0 70px var(--color-5), 0 0 80px var(--color-5);
    }
}

.glow-black {
    font-family: 'Fugaz One', cursive;
    color: var(--color-4);
    animation: glow-b 1s ease-in-out infinite alternate;
  }
  
    @keyframes glow-b {
    from {
        text-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-5), 0 0 30px var(--color-0), 0 0 40px var(--color-0), 0 0 50px var(--color-0), 0 0 60px var(--color-0), 0 0 70px var(--color-0);
    }

    to {
        text-shadow: 0 0 20px var(--color-0), 0 0 30px var(--color-0), 0 0 40px var(--color-0), 0 0 50px var(--color-0), 0 0 60px var(--color-0), 0 0 70px var(--color-0), 0 0 80px var(--color-0);
    }
}

.glitter-green {
    background-color: var(--color-1);
    position: relative;
    animation: glitter 1s infinite;
}

.glitter-orange {
    background-color: var(--color-8);
    position: relative;
    animation: glitter 1s infinite;
}

@keyframes glitter {
    0% {
        background-image: url('./backgrounds/glitter1.png');
    }
    12% {
        background-image: url('./backgrounds/glitter6.png');
    }
    24% {
        background-image: url('./backgrounds/glitter2.png');
    }
    36% {
        background-image: url('./backgrounds/glitter7.png');
    }
    48% {
        background-image: url('./backgrounds/glitter3.png');
    }
    60% {
        background-image: url('./backgrounds/glitter8.png');
    }
    72% {
        background-image: url('./backgrounds/glitter4.png');
    }
    84% {
        background-image: url('./backgrounds/glitter9.png');
    }
    100% {
        background-image: url('./backgrounds/glitter5.png');
    }
}

.confetti-container {
    width: 100%;
    height: 100%;
}

/* https://forum.webflow.com/t/add-falling-confetti-with-css/103687 */
.confetti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 25px;
    background-color: var(--color-money);
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
    background-image: url('./FavoritesPage/bob_barker_sticker_face_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 20px;
    padding: 2px;
}
.confetti:nth-child(1) {
    background-color: var(--color-money); left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
    background-color: var(--color-money); right: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
    background-color: var(--color-money); left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
    background-color: var(--color-money); left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
    background-color: var(--color-money); right: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
    background-color: var(--color-money); right: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
    background-color: var(--color-money); left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
    background-color: var(--color-money); right: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
    background-color: var(--color-money); left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
    background-color: var(--color-money); left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}
body {
    background-color: black;
}
